*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.bg-blur-24{
  backdrop-filter: blur(24px);
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-thumb{
  background: rgba(100, 100, 100, 0.4);
  border-radius: 8px;
}

::-webkit-scrollbar{
    background: rgba(120, 120, 120, 0.6);
}