.rank-badge {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: rgb(111, 113, 207);
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
}

.new-badge {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: rgb(255, 99, 71);
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
}

.sale-badge {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: red;
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
}

.original-price {
	text-decoration: line-through;
	color: red;
	margin-right: 5px;
}

.discount-arrow {
	margin: 0 5px;
	font-size: 1.5em;
}

.discounted-price {
	color: green;
	font-weight: bold;
	margin-right: 5px;
}

.discount-badge {
	background-color: orange;
	color: white;
	padding: 2px 5px;
	border-radius: 5px;
	font-size: 12px;
	margin-left: 5px;
	text-align: right;
	flex-shrink: 0;
	animation: blink 3s linear infinite;
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}

.price-info {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
}