<form th:action="@{/employees}" method="post" th:object="${employeeRegisterRequest}">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

  이메일<input type="email" th:field="*{email}" placeholder="이메일" /><br>
  이름<input type="text" th:field="*{name}" placeholder="이름" /><br>
  본부<input type="text" th:field="*{headquarter}" placeholder="본부" /><br>
  팀<input type="text" th:field="*{team}" placeholder="팀" /><br>
  핸드폰 번호<input type="text" th:field="*{phoneNumber}" placeholder="핸드폰 번호"/><br>
  <label>직책</label><br/>
  <label><input type="radio" th:field="*{position}" value="팀장" /> 팀장</label>
  <label><input type="radio" th:field="*{position}" value="파트장" /> 파트장</label>
  <label><input type="radio" th:field="*{position}" value="팀원" /> 팀원</label>
  
  <label>직무</label><br/>
  
  <label>직무</label><br/>
  <label><input type="radio" th:field="*{role}" value="사업관리" /> 사업관리</label>
  <label><input type="radio" th:field="*{role}" value="기획" /> 기획</label>
  <label><input type="radio" th:field="*{role}" value="퍼블리셔" /> 디자인,퍼블리셔</label>
  <label><input type="radio" th:field="*{role}" value="개발" /> 개발</label>
  <label><input type="radio" th:field="*{role}" value="기타" /> 기타</label>
  <br>
  비고<input type="text" th:field="*{remark}" placeholder="비고" /><br>


자격증
  <div id="licenseFields">
    <div th:each="license, iterStat : *{licenses}">
      <input type="text"
             th:field="*{licenses[__${iterStat.index}__].name}"
             placeholder="자격증명" />
    </div>
  </div>

  <button type="button" onclick="addLicenseField()">자격증 추가</button>

  <button type="submit">등록</button>
</form>

<script>
  function addLicenseField() {
    const container = document.getElementById("licenseFields");

    const index = container.children.length;

    const div = document.createElement("div");
    div.innerHTML = `
      <input type="text" name="licenses[${index}].name" placeholder="자격증명" />
    `;
    container.appendChild(div);
  }
</script>