<form th:action="@{/employees}" method="post" th:object="${employeeRegisterRequest}">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

  <input type="email" th:field="*{email}" placeholder="이메일" />
  <input type="text" th:field="*{name}" placeholder="이름" />
  <input type="text" th:field="*{headquarter}" placeholder="본부" />
  <input type="text" th:field="*{team}" placeholder="팀" />
  생년월일<input type="date" th:field="*{birthDate}" placeholder="생년월일" />
  <input type="text" th:field="*{position}" placeholder="직급" />
  <input type="text" th:field="*{license_1}" placeholder="자격증1" />
  <input type="text" th:field="*{license_2}" placeholder="자격증2" />
  <input type="text" th:field="*{role}" placeholder="역할 (예: ROLE_USER)" />
  <input type="hidden" name="status" value="ACTIVE" />
  <input type="hidden" name="accountEnabled" value="true" />

  <button type="submit">등록</button>
</form>